body {
  text-align: center;
  font-family: Cerebri Sans, Helvetica, Arial, sans-serif;
  color: whitesmoke;
  width: 100%;
}

.col-1 {
  text-align: left;
  font-size: 70px;
  padding-left: 300px;
}
.col-2 {
  text-align: center;
  font-size: 3.5em;
  padding-left: 300px;
  padding-top: -900px;
}

.TodayWeather {
  text-align: left;
  font-size: 15px;
  padding-top: -80px;
  text-decoration: no spacing;
}
.row1,
.row2,
.row3,
.row4,
.row5 {
  text-align: left;
}
.weather-temperature .p-2 {
  text-decoration: none;
  position: relative;
  font-size: 20px;
  top: -86px;
}
.weather-temperature .degreeLink {
  color: white;
  text-decoration: none;
  cursor: default;
}

.icon {
  width: 250px;
  height: 200px;
  display: block;
  margin: auto;
  left: -90px;
}

.weather-temperature .degreeLink:hover {
  text-decoration: none;
}
.pressure,
.humid,
.wind {
  text-align: right;
}
.container {
  background-image: url(../images/weatherApp.jpg);
  background-size: cover;
  padding: 85px 10px 100px;
  background-position: center;
  max-width: 900px;
  border-radius: 40px;
}
.forecast {
  text-align: left;
  font-size: 30px;
  padding-left: 50px;
}

footer {
  font-family: monospace;
  color: black;
}
